*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,body {
  width: 100%;
  
  min-width: 700px;
  font-family: 'Josefin Sans', ;
  font-size: 8px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html{
  background-size:cover;
  background: url(../img/wod.jpg);
  
}
body{
  min-width: 700px;
  max-width: 1024px;
  border-right: 2px solid #645953;
}


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  
}

h1{
    font-size: 5em;
}
h2{
     font-size: 4em;
}
h3 {
 font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}