.contact {
    background: url(../img/agnt.jpg);
    background-size: cover;
    background-position-y: 20px;
    width: 100%;
    height: 100vh;
    display: block;

    .header {
        text-align: center;
        background-color: black;

    }



    .wrap {
        text-align: center;
        margin: 0;
        width: 50%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);

        .container {
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 80%; 
           
            &__title {
                margin: 6em 0;
                
                &--text {
                    font-size: 3em;
                    color:white;
                    width: 20em;
                }
                

            }

            &__input {
                display: flex;
                flex-direction: column;
                
                margin: 4em 0;
                &--name {
                width:243px ;
                height:28px ;
                background: black;
                margin-bottom: 2em;
                border-radius: 8px;
                border: none;
                }
                &--email {
                width:243px ;
                height:28px ;
                background: black;
                margin-bottom: 2em;
                border-radius: 8px;
                border: none;
                }
            }

            &__checkbox {
                display: inline-block;
                margin-bottom: 6em;
                margin-left: 20px;
                label{
                    font-size: large;
                    padding-right: 15px;

                }
    

                &--entr {
                }

                &--part {

                }
            }

            &__butn{
                
                 
               
                
                &--env{
                    
                    background-color:black; 
                    border: none;
                    color: white;
                    padding: 7px 51px;
                    font-size: 16px;
                     border-radius: 9px;
                    cursor: pointer;
                    margin-left: 31px;
                    transform: translate(-50%, -50%);
                    margin-left: 7em;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                    

                }

            }

           





        }
    }
}