
.features {
    background-image: url("image/Background-sect");
    z-index: -1;
    height:auto;
    width: 100%;
    title{

    }
    .cards{        
    .cards__card{
        &--icon{
        text-align: center;
        }
        &--title{
            color:$features-title;
            font-family: 'Josefin Sans'  ;
            line-height: 1.42857143;
            font-size: 6px;
            line-height: 1.42857143;
            font-style: italic;

        }
        &--desc{
        color: $features-desc;
        display: block;
        font-size: 19px;
        padding: 2%  22%;
        text-align: center; 
         
        }
    }
    }
}