.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
    
    .features__cards1 { grid-area: 1 / 3 / 2 / 5; }
    .features__cards2 { grid-area: 2 / 1 / 4 / 3; }
    .features__cards3 { grid-area: 2 / 3 / 4 / 5; }
    .features__cards3 { grid-area: 2 / 5 / 4 / 7; }
    .features__cards4 { grid-area: 5 / 1 / 7 / 3; }
    .features__cards5 { grid-area: 5 / 3 / 7 / 5; }
    .features__cards6 { grid-area: 5 / 5 / 7 / 7; }