
.features {
    padding: 8em 0;
    background-image: url(../img/Background-sect.png);
    background-size: cover;
    height:auto;
    width: 100%;
    
    .cards{        
    .cards__card{
        &--icon{
        text-align: center;
        }
        &--title{
            color:$offers;
            font-family: 'Josefin Sans'  ;
            line-height: 1.42857143;
            font-size: 6px;            
            font-style: italic;

        }
        &--desc{
        color: $text_hb;
        display: block;
        font-size: 19px;
        padding: 2%  22%;
        margin-bottom: 10%;
        text-align: center; 

        
        }
    }
    }
      
}


