.footer{
    
   background-color: #514E4C;
    text-align: center;
    height: 50vh;
    width: 100%;
    color: white;
    &__nav-left{
        display: table;
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 20px;
        background-color: rgba($color: #333333, $alpha: 0.5);
        &--list{
            display: table-cell;
            vertical-align: middle;
            font-size: 1.5vw;
            list-style: none;
            li{
                a{
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
    &__logo{
        margin-top: 15%;
        width: 100%;
        height: 100%; 
    }
    &__nav-right{
        display: table;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: rgba($color: #333333, $alpha: 0.5);
        
        &--list{
            
            display: table-cell;
            vertical-align: middle;
            font-size: 1.5vw;
            list-style: none;
            text-decoration: underline;
        }
    }
    &__contact{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
        height: 100%;
        font-size: 3em;
        &--copyright{
            font-weight: bold;
        }
        &--link{
            color: #B49C82;
            
        }
        &--rights{
            font-size: 0.5em;
        }
        &--email{
            border-radius: 0.5em;
            color: black;
            border:none;
            min-height: 25px;
            min-width: 180px;
            background-color:rgba($color: #333333, $alpha: 0.5);
            &::placeholder{
                margin-left: 10em;
            }
            &:hover{
                background-color: white;
                opacity: 0.8;
                min-height: 30px;
                min-width: 250px;
                transition: 0.5s ease;
                border: none;
            }
        }
        &--btn{
            border-radius: 0.5em;
            color: white;
            border:none;
            min-height: 25px;
            min-width: 7em;
            background-color: #333333;
            cursor: pointer;
            &:hover{
                min-height: 30px;
                background-color: white;
                color: black;
                opacity: 0.6;
                min-width: 8em;
                transition: 0.5s ease;
            }
        }
    }
}