.container{
    color: white;
    display: grid;
    grid-template-areas:    "sidebar header"
                            "sidebar features"
                            "sidebar story"
                            "sidebar maisons"
                            "sidebar galleries"
                            "sidebar footer" ;
                            
    grid-template-columns: 1fr 15fr ;
    width: 100%;
    padding: 0;
    .sidebar{
        grid-area: sidebar;
        min-width: 90px;
        background-color: #645953;
        &__block{
            display: grid;
            grid-column: auto;;
            justify-content: center;
        }
    }
 
        .HEADER{
            grid-area: header;
            display: grid;
            grid-template-columns: 12fr 3fr;
            .header{
                display: grid;
                grid-template-rows: 1fr 7fr 1fr;
                &__logo-block{
    
                    
                    &--logo{

                    }
                }
                &__title-block{
                 
                  &--title{
                    
                  }
                  &--description{

                  }  
                  &--btn{

                  }
                }
                &__brands{
                
                }
        
            }
            .agent{
                display: grid;
                grid-template-rows: 0.5fr 0.5fr 3fr 3fr 3fr;
                height: 100%;
                justify-content: center;
              &__title{
                  border: 1px solid black;
              }
              &--developer{
                  &--photo{

                  }
                  &--name{
                    
                  }
              }  
            }
        }
        .features{
            grid-area: features;
            .cards{
                    display: grid; 
                    grid-template-columns: repeat(3, 1fr); 
                    grid-template-rows: repeat(2, 1fr); 
                    grid-column-gap: 16px;
                    grid-row-gap: 16px;
                    text-align: center;
                .card1 { grid-area: 1 / 1 / 2 / 2; }
                .card2 { grid-area: 1 / 2 / 2 / 3; }
                .card3 { grid-area: 1 / 3 / 2 / 4; }
                .card4 { grid-area: 2 / 1 / 3 / 2; }
                .card5 { grid-area: 2 / 2 / 3 / 3; }
                .card6 { grid-area: 2 / 3 / 3 / 4; }
                
                }  
        }
        .story{
            grid-area: story;
            height: 800px;
            background-color: black;
        }
        .maisons{
            grid-area: maisons;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 50px;
                 &__card{
                    grid-area: 1 / 1 / 2 / 2;
                }
                 //.card1 { 
                    //grid-area: 1 / 1 / 2 / 2;
                 //}
            
                 //.card2 { 
                //     grid-area: 1 / 2 / 2 / 3;
                  
                 //}
                
                // .card3 {
                   // grid-area: 1 / 3 / 2 / 4;
                 }
                  
                 //.card4 { 
                    // grid-area: 2 / 1 / 3 / 2; 
                  
                 //}
                  
                 //.card5 { 
                   // grid-area: 2 / 2 / 3 / 3;
                  
               // }
                
                .card6 { 
                    grid-area: 2 / 3 / 3 / 4;
                
                }
             
                .galleries{
                    grid-area: galleries;
                    .gallery{
                        display: grid;
                        grid-template-columns: repeat(13, 1fr);
                        // grid-template-rows: repeat(7, 1fr);
                        grid-gap: 16px;
                        
                        .gal-1{
                            grid-area: 2 / 2 / 3 / 5;   
                        }
                        .gal-2{
                            grid-area: 2 / 5 / 3 / 9; 
                        }
                        .gal-3{
                            grid-area: 2 / 9 / 3 / 13; 
                        }
                        .gal-4{
                            grid-area: 3 / 2 / 5 / 4; 
                        }
                        .gal-5{
                            grid-area: 3 / 4 / 5 / 10; 
                        }
                        .gal-6{
                            grid-area: 3 / 10 / 4 / 13;
                        }
                        .gal-7{
                            grid-area: 4 / 10 / 5 / 13;
                        }
                        .gal-8{
                            grid-area: 5 / 2 / 6 / 6; 
                        }
                        .gal-9{
                            grid-area: 5 / 6 / 6 / 10; 
                        }
                        .gal-10{
                            grid-area: 5 / 10 / 6 / 13;  
                        }
                        .gal-11{
                            grid-area: 6 / 2 / 7 / 7;  
                        }
                        .gal-12{
                            grid-area: 6 / 7 / 7 / 13;
                        }
                    }
                }
                .footer{
                    grid-area: footer;
                    display: grid;
                    grid-template-columns: repeat(15, 1fr);
                    grid-template-rows: repeat(7, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;
                    &__nav-left{
                        grid-area: 2 / 2 / 6 / 6;
                        &--list{
        
                        }
                    }
                    &__logo{
                        grid-area: 2 / 6 / 6 / 11;
                    }
                    &__nav-right{
                        grid-area: 2 / 11 / 6 / 15; 
                        &--list{
                            
                        }
                    }
                    &__blank{
                        grid-area: 6 / 2 / 7 / 15;
                    }
                    &__contact{
                        grid-area: 7 / 2 / 8 / 15;
                    }
                     
                }
        }
        
    
