.container{
    color: white;
    display: grid;
    grid-template-areas:    "sidebar header"
                            "sidebar features"
                            "sidebar story"
                            "sidebar maisons"
                            "sidebar galleries"
                            "sidebar footer" ;
                            
    grid-template-columns: 1fr 15fr;
    width: 100%;
    .sidebar{
        grid-area: sidebar;
        min-width: 90px;
        background-color: #645953;
    }
 
        .HEADER{
            grid-area: header;
            height: 70vh;
            display: grid;
            grid-template-columns: 12fr 3fr;
            .header{
                display: grid;
                grid-template-rows: 2fr 8fr 2fr;
                &__logo-block{
    
                    
                    &--logo{

                    }
                }
                &__title-block{
                 
                  &--title{
                    
                  }
                  &--description{

                  }  
                  &--btn{

                  }
                }
                &__brands{
                //    display: grid; 
                //    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
                //    justify-content: space-between;
                }
        
            }
            .agent{
                
              &__title{
                  
              }
              &--developer{
                  &--photo{

                  }
                  &--name{

                  }
              }  
            }
        }
        .features{
            grid-area: features;
            height: 800px;
            background-color: white;
        }
        .story{
            grid-area: story;
            height: 800px;
            background-color: black;
        }
        .maisons{
            grid-area: maisons;
            height: 800px;
            background-color: white;
        }
        .galleries{
            grid-area: galleries;
            height: 800px;
            background-color: black;
        }
        .footer{
            grid-area: footer;
            height: 400px;
            background-color: green;
        }
        
    }
