.HEADER {
  .header {
    background-image: url(../img/gal--5.jpg);
    background-size: cover;
    background-position-x: -77px;
    // here is the header-bar
    &__logo-block {
      background-color: #867a74;
      text-align: center;
      &--logo {
        //  style is inside the element at html
      }
    }
    // this is the left.side of the header
    &__title-block {
      color: black;
      text-align: center;

      &--title {
        margin-top: 11%;
      }
      &--description {
        font-size: 3em;
        font-weight: bold;
        color: $sous-titre;
        width: 32rem;
        margin: 0 auto 2em auto;
      }
      &--btn {
        width: 97px;
        height: 28px;
        color: white;
        font-size: 1.5em;
        background-color: #333333b6 ;
        border: 1px solid black;
        border-radius: 0.5em;
        cursor: pointer;
        &:hover{
            color: black;
            background-color: white;
        }
        
      }
    }
    &__brands {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgba(black, $alpha: 0.4);
      width: 100%;
      align-items: baseline;
      
      p{
        font-size: 1.5em;
        color: #B19B81;
        position: absolute;
        margin: 0px 45%;
        font-weight: bold;
        text-align: center;
        
      }
      &--line-left{
        display: inline;
        width:40%;
        border-top: 1em solid white;
        position: absolute;
        border-radius: 0 20px 20px 0;
        
            
      }
      &--line-right{
        display: inline;
        width:40%;
        border-top: 1em solid white;
        position: absolute;
        border-radius:  20px 0 0 20px ;
        right: 0;
      }
      
      &--img {
        
        height: auto;
        width: 20%;
        margin: 4em 2em auto 2em;
      
      }
      .left {
        margin-left: 4em;
      
        }
      }
      .right {
        margin-right: 4em;
      }
      img {
        max-width: 100%;
        
      }
    }
  }
  .background- {
    background-color: #867a74;
    
    height: 100%;

    // LEFT.SIDE OF THE HEADER
    .agent {
      background-color: #635751 ;
      border-radius: 2em 0 0 0;
      min-width: 200px;
        text-align: center;
      &__title {
        border: none !important;
      }
      &__developer {
          display: flex;
          flex-direction: column;
          justify-content: center;
        &--photo {
            width: 70px;
            height: 70px;
            margin:0 auto ;
            border-radius: 50%;
        }
        &--name {
            margin-top: 1em;
            font-size: 2em;
            color: #B49C82;
            font-weight: bold;
            span{
                color: white;
                font-size: 0.6em;
                
            }
        }
      }
    }
  }
