.container{
  
    .sidebar{
       &__block{
          position:fixed;
          :target{
            display: none;
          }
          margin:2.5em;
            &--menu{
              cursor: pointer;
           
            }       
        }  
    }
}