.container{
  
    .sidebar{
      
       &__block{
        position: fixed;
          margin:2.5em;
       }
            &--menu{
              cursor: pointer;
              
            }    
             
         
    
    .background{
      z-index: 99;
      visibility: hidden;
      position: fixed;
      background-color: rgba($color: #000000, $alpha: 0.8);
      height: 100%;
      width: 94vw;
      left:89px;
      top: 0;
      opacity: 0;
      transition: opacity 1s, visibility 0s ;
      @media only screen  and (max-width: 800px) {
        width: 90%;
        }
        
      &:target{
        visibility: visible;
        opacity: 1;
        transition: 0s;
      }
      
    .menu{
      box-shadow:  31px 10px 32px rgba(0, 0, 0, 0.6);
      border-radius: 0px 35px 35px 0px;
      min-width: 300px;
      z-index: 2;
      position: absolute;
      width: 30%;
      text-align: center;
      left: 0px;
      top: 0px;
      font-size: 3em;
      background: #494542;
      opacity: 0.9;
      &__nav{
        border-radius: 0px 20px 20px 0px;
        color: white;
        display: block;
        border-top: 1px solid rgba($color: #FFF, $alpha: 0.4);
        padding: 20px;
        &--img{
          width: 80%;
          height: auto;
        }
      }
      .logo{
        background: #fff;
        opacity: 0.3;
        border-radius: 0px 35px 35px 0px;
      }
     
    }
  }
   
  } 
} 
  

