.str {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

    &__img {
        width: 100%;

        &--img1 {
            width: 82%;
            padding: 4%;

        }
    }

    &__story {
        width: 100%;
        text-align: center;
        margin: auto;

        &--title {
            margin-bottom: 2em;
            color: black;
            text-align: center;
        }

        &--text {
            color: black;
            font-size: 2em;
            margin-bottom: 5%;
            margin-right: 50px;
            margin-left: 50px;
        }

        &--btn {
            background-color: beige;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 4px 4px 4px grey;
            color: #000;
            border: none;

            &:hover {
                cursor: pointer;
                background: black;
                color: white;
            }
        }

    }
}
@media only screen and (max-width: 700px) {
    .str{
        display: none;
    }
  
}