$primary: #49443F; // Anything else that not specified 
$Secondary: #B49C82; // Agents Name And (Top agents) / Youcode_website in footer
$Spon_tit: #B19B81; // sponsors title ( Nous fons confiance)
$sect_tit: #595450; // sections titles (offres / galerie)
$offers: #595450; // all texts writed in "nos offres"_section
$button: #333333;
$text_button: #FFFFFF;
$hover_button: #FFFFFF; // with a border with $text_hb color 
$text_hb: #333333; // hover button text
$features-title:#707070; // ABDEL
$features-desc:#49443F;  // ABDELADIM
